<div id="Register" style="display: none;">
    <div class="col-12 vh-100 bg-dark d-flex justify-content-center align-items-center">
        <div class="card-body bg-light col-9 d-flex flex-column justify-content-center align-items-center">
            <div class="card-body mb-5">
                <h2 class="col-12 text-center">Registration Page</h2>
                <div class="d-flex justify-content-center">
                    
                </div>
                <div class="form-row align-items-center">
                    <input id="txtFirstName" class="form-control col-4 mt-1 pt-2" placeholder="First Name" aria-label="first name">
                    <input id="txtMiddleName" class="form-control col-4 mt-1 pt-2" placeholder="Middle Name" aria-label="middle name">
                    <input id="txtLastName" class="form-control col-4 mt-1 pt-2 " placeholder="Last Name" aria-label="last name">
             
                    <input id="txtStreetAddress1" class="form-control mt-1 pt-2" placeholder="Street address 1" aria-label="Street address 1">
                    <input id="txtStreetAddress2" class="form-control mt-1 pt-2" placeholder="Street address 2" aria-label="Street address 2">
    
                    <input id="txtCity" class="form-control col-4 mt-1 pt-2" placeholder="City" aria-label="City">
                    <input id="txtState" class="form-control col-4 mt-1 pt-2" placeholder="State" aria-label="State">
                    <input id="txtZIPcode" class="form-control col-4 mt-1 pt-2" placeholder="ZIP" aria-label="ZIP">
                
                    <input id="txtUsername" class="form-control mt-1 pt-2" type="email" placeholder="johndoe@gmail.com" aria-label="email">
                    <input id="txtPassword" class="form-control mt-1 pt-2" type="password" placeholder="password" aria-label="password">
                    <input id="txtConfirmPassword" class="form-control mt-1 pt-2" type="password" placeholder="Confirm password" aria-label="Confirm password">
                </div>
                <button class="btn btn-link col-12 mt-0" type="button" id="btnSwapRegister">Back to Login</button>
            </div>
        </div>
    </div>
</div>