<div id="Register" style="display:none">
    <div class="col-12 vh-100 bg-dark d-flex justify-content-center align-items-center">
        <div class="card-body bg-light col-9 d-flex flex-column justify-content-center align-items-center">
            <div class="card-body mb-5">
                <h2 class="col-12 text-center">Registration Page</h2>
                <button class="btn btn-lin col-12 mt-0" type="button" id="btnSwapRegister">Back to Login</button>
            </div>
        </div>
    </div>
</div>